@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    
}


h2{
    font-size: 40px;
}

p{  
    font-size: 20px;
}


/* ------Inicio do cabeçalho------  */
body{
    background-color: #ffffff;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    background-color: #182940;
    position: fixed;
    border-bottom: 1px solid #182940;
}

div.tittle h1{
    color: #F2F2F2;
    font-size: 24px;
    /* text-shadow: 2px 2px 4px #2e6099a8; */
}

ul.nav{
    padding: 1rem;
    display: flex;
    list-style: none;
    gap: 25px;
}

a.nav-link{
    text-decoration: none;
    color: #F2F2F2;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 16px;
}

a.nav-link:hover{
    color: #FFCC29;
    cursor: pointer;
}
    /* ------Final do cabeçalho------  */

img{
    width: 100%;
    height: 400px;
}
          /* Franquias card e texto */


section.empreender {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    gap: 20px;
}

section.empreender h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.5em;
    color: #182940;
    font-size: 30px;
    font-weight: 1000;
    text-decoration: underline;
}

section.empreendimentos{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

section.empreendimentos > h2{
    border-bottom: 2px solid #182940;
    padding-bottom: 0.5em;
    color: #182940;
    text-align: center;
    font-size: 50px;
    font-weight: 1000;
}

section.franqueado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    gap: 24px;
}

section.franqueado h2{
    font-weight: bolder;
    color: #182940;
    text-decoration: underline;
    font-size: 25px;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.div_cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-gap: 20px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

div.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 2%;
    border: 1px solid #225473;
    border-radius: 10px;
    background-color: #f4f8fb;
}

div.card:hover{
    cursor: pointer;
}

.card img{
    user-select: none;    
    padding: 2%;
    width: 200px;
    height: 200px;
    gap: 15%;
}

section.franquias h3{
    display: flex;
    justify-content: center;
    padding-bottom: 0.5em;
    color: #225473;
    font-size: 25px;
}

section.franquias h2{
    border-bottom: 2px solid #225473;
    padding-bottom: 0.5em;
    color: #225473;

}






    
        /* inicio da LTDA */

section.ltda{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

section.ltda div.ltda-info{
    width: 550px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: justify;
    justify-content: space-evenly;
}

section.ltda div.ltda-info p{
    color: #3d3d3d;
}

section.ltda div.ltda-info a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}

section.ltda div.ltda-info button.venha-conhecer{
    padding: 15px 20px;
    background-color: #3d93c8;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

section.ltda div.ltda-info button.venha-conhecer:hover{
    background-color: #225473;
}

section.ltda div.call-to-action{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

section.ltda h2{
    font-weight: 800;
    color: #3CC13A;
}

section.ltda img{
    width: 50%;
    border-radius: 3px; 
}

       /* Final da LTDA */

       /* inicio do PJ */

section.pj h2{
    font-weight: bolder;
    width: 100%;
    text-align: left;
    color: #182940;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}

section.pj{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    gap: 20px;
}
section.pj img{
    width: 40%;
    border-radius: 5px;
    border: 3px solid  #225473;
}

section.pj p{
    padding: 2%;
    display: flex;
    justify-content: center;
}

       /* Final do PJ */

    /* Inicio Mei */
section.mei h2{
    font-weight: bolder;
    width: 100%;
    text-align: left;
    color: #182940;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}
.mei img{
    width: 40%;
    border-radius: 5px;
    border: 3px solid  #225473;
}

section.mei{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    gap: 20px;
}

section.mei p{
    padding: 2%;
    display: flex;
    justify-content: center;
}

/* ------------------------------------------------------------------------- */


section.memp img{
    width: 40%;
    border-radius: 5px;
    border: 3px solid  #225473;
}

section.memp h1{
    font-weight: bolder;
    width: 100%;
    
    color:#182940;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.memp{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    gap: 20px;
}

section.box h2{
    font-size: 30px;
    font-weight: bolder;
    padding: 2%;
    color: #182940;
}


section.box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}

section.FAQ{
    background-color: #e2dcdc;
    width: 60%;
    padding: 1%;
    height: 4%;
    border :5px solid #225473;
}

section.FAQ h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
summary::marker{
    cursor: pointer;
    color: #003cff;
}

.FAQ h3{
    display: flex;
    align-items: center;

}

details{
    background-color: #0982f300;
    padding: 2%;
    border-bottom: 2px solid #000000;
    font-weight: 600;
   
    
}

details p{
    color: #000000;
    padding: 2% ;
   
}

/* a{
    text-decoration: underline;
    color: red;
} */
